@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-[#FAF8F0] text-[#0A400C];
  margin: 0;
  padding: 0;
  min-height: 100vh;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
